[Unit]
Description=Configure my Wacom tablet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/hisham/.local/bin/wacomConfig.sh

[Install]
WantedBy=default.target
WantedBy=graphical-session.target
