* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: Red Hat Display;
    font-size: 16px;
}

window#waybar {
    background: shade(alpha(@theme_base_color,1.0),1);
    color: @theme_text_color;
    transition: all .3s ease-in-out;
}

#window {
    padding: 0px 8px 2px;
    margin: 1px;
    background-color: alpha(@theme_text_color,.2);
    border-radius: 30px;
    min-width: 8px;
    transition: all 0.2s ease-in-out;
}

#window.empty {
    background: shade(alpha(@theme_base_color,0.8),1);
}

#workspaces {
    background: alpha(@accent_color,0);
    margin: 1px;
    border-radius: 5px;
    border: 0px;
    color: @success_color;
}

#workspaces button {
    padding: 0px 2px;
    margin: 0px 2px 0px 0px;
    border-radius: 20px;
    border: 0px;
    min-width: 24px;
    transition: all 0.2s ease-in-out;
    background: alpha(@theme_text_color,0.3);
    color: alpha(@accent_bg_color,1);
}

#workspaces button.active {
    color: alpha(@theme_base_color,1);
    background: alpha(@theme_text_color,.9);
    min-width: 50px;
    /*border-radius: 20px;*/
    /*transition: all 0.2s ease-in-out;*/
}

#workspaces button.empty {
    color: alpha(@theme_text_color,1);
    background: alpha(@theme_text_color,0.2);
    /*border-radius: 20px;*/
    /*transition: all 0.2s ease-in-out;*/
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#wireplumber,
#custom-media,
#custom-packages,
#custom-logo,
#custom-gpu,
#tray {
    padding: 1px 4px;
    color: @theme_text_color;
    border-radius: 4px;
}

.modules-left {
    /*padding: 0px;*/
    margin: 1px 4px;
    border: 0px;
    border-color: @accent_bg_color;
    border-radius: 40px;
    border-style: solid;
    transition: all 0.2s ease-in-out;
}

.modules-center {
    padding: 0 4px;
    margin: 2px 4px;
    border: 0px;
    border-color: @accent_bg_color;
    border-radius: 40px;
    border-style: solid;
    background-color: alpha(@theme_text_color,.15);
}

.modules-right {
    padding: 0;
    margin: 2px 4px;
    border: 0px;
    border-color: @accent_bg_color;
    border-radius: 40px;
    border-style: solid;
    background-color: alpha(@theme_text_color,.15);
}

#clock {
    background-color: rgba(100, 114, 125, 0.0);
}

#cpu {
    background-color: rgba(46,204,113,0);
}

#memory {
    background-color: rgba(155,89,182,0);
}

#disk {
    background-color: rgba(150,75,0,0);
}

#wireplumber {
    background-color: rgba(255,240,245,0);
}

#wireplumber.muted {
    background-color: rgba(245,60,60,1);
}

#custom-packages {
    background-color: rgba(102,204,153,0);
}
/*#custom-packages.low {
    color: @blue_1;
}
#custom-packages.med {
    color: @green_1;
}
#custom-packages.high {
    color: @red_1;
}*/

#custom-gpu.low {
    color: @blue_1;
}
#custom-gpu.avg {
    color: @theme_text_color;
}
#custom-gpu.high {
    color: @destructive_color;
}

#custom-media {
    background-color: rgba(102,204,153,0);
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: rgba(102,204,153,0);
}

#custom-media.custom-vlc {
    background-color: rgba(255,160,0,0);
}

#temperature {
    background-color: rgba(240,147,43,0);
}

#temperature.critical {
    background-color: rgba(235,77,75,1);
}

#tray {
    background-color: rgba(41,128,185,0);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: rgba(0,176,147,0);
    padding: 0 5px;
    min-width: 16px;
}
