* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: Red Hat Display;
    font-size: 16px;
}

window#waybar {
    background: shade(alpha(@theme_base_color,1.0),1);
    color: @theme_text_color;
    transition: all .3s ease-in-out;
}

#window {
    padding: 0px 8px 2px;
    margin: 0px;
    background-color: alpha(@theme_text_color,.2);
    border-radius: 30px;
    min-width: 8px;
    transition: all 0.2s ease-in-out;
}

#window.empty {
    background: shade(alpha(@theme_base_color,0.8),1);
}

#workspaces {
    background: alpha(@accent_color,0);
    margin: 0px;
    border-radius: 5px;
    border: 0px;
    color: @success_color;
}

#workspaces button {
    padding: 0px 4px;
    margin: 0px 2px 0px 0px;
    border-radius: 20px;
    border: 0px;
    min-width: 18px;
    transition: all 0.2s ease-in-out;
    background: alpha(@theme_text_color,0.3);
    color: alpha(@accent_bg_color,1);
}

#workspaces button.active {
    color: alpha(@theme_base_color,1);
    background: alpha(@theme_text_color,.9);
    min-width: 50px;
    /*border-radius: 20px;
    transition: all 0.2s ease-in-out;*/
}

#workspaces button.empty {
    color: alpha(@theme_text_color,1);
    background: alpha(@theme_text_color,0.2);
    /*border-radius: 20px;
    transition: all 0.2s ease-in-out;*/
}

#custom-prayers,
#custom-weather,
#custom-kernel {
    padding: 1px 8px;
    transition: all 0.2s ease-in-out;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left {
    padding: 0px;
    margin: 2px 4px;
    border: 0px;
    border-color: @accent_bg_color;
    border-radius: 40px;
    border-style: solid;
    transition: all 0.2s ease-in-out;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-center {
    padding: 0 8px;
    margin: 2px 2px;
    border: 0px;
    border-color: @accent_bg_color;
    border-radius: 40px;
    border-style: solid;
    background-color: alpha(@theme_text_color,.15);
}

.modules-right {
    padding: 0;
    margin: 2px 4px;
    border: 0px;
    border-color: @accent_bg_color;
    border-radius: 40px;
    border-style: solid;
    background-color: alpha(@theme_text_color,.15);
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #c2ca76;
}

#custom-weather.clearNight {
    color: #2b2b2a;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}
